.header {
	display: flex;
	justify-content: space-between;
	padding: 12px 30px;
	background: black;

	.logo {
		width: 70px;
		cursor: pointer;
	}

	.social-links {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 20px;
	}

	.social-svg {
		width: 20px;
		height: auto;
		cursor: pointer;
	}
}
